__pycache__
Python/py2cd/.idea/
Python/*/.idea/
Python/*/tmp_latex/
Python/.idea/
Python/webseite/
Lektionen/*/_minted-*/
tmp_latex/

.idea/
*.out
*.log
*.aux
*.toc
*.nav
*.synctex.gz
*.snm
*.vrb
*.pyg
*.pygstyle
*.pygtex
