Python/*/*/__pycache__
Python/*/__pycache__
Python/py2cd/.idea/
Python/*/.idea/
Python/*/tmp_latex/
Python/.idea/
Lektionen/*/_minted-*/
tmp_latex/

.idea/
*.out
*.log
*.aux
*.toc
*.nav
*.synctex.gz
*.snm
*.vrb
*.pyg
*.pygstyle
*.pygtex
