{% assign items = include.data | sort: "level" %}
{% comment %}%| where_exp:"item","item.level != null"{% endcomment %}
{% for item in items %}
  {% if item.title != null and item.url != null %}
  <div class="color_item {{ item.level }}">
      <a  href="{{ item.url | absolute_url}}">{{ item.title }}</a>
      <img class="check_me" title="Wenn du die Aufgabe gelöst hast, kannst du sie hier abhaken." id="check_{{ item.uid }}" src="{{ "/_assets/imgs/check.png" | absolute_url}}">
      {% if include.no_tags == null %}
      {% include gen_tags.html tags=item.tags classes="small" %}
      {% endif %}
      <hr>
  </div>
  {% endif %}
{% endfor %}
