<div class="img-n-text {{ include.class_extra }}">
    <div class="img">
        <a href="{{ include.link | absolute_url }}">
        <img src="{{ site.url }}/_assets/imgs/{{ include.img }}" alt="{{ include.title }}">
        </a>
        {% if include.author %}
        <span class="img-info">Quelle: {{ include.author }}</span>
        {% endif %}
    </div>
    <div class="text">
        <h2><a href="{{ include.link | absolute_url }}">{{ include.title }}</a></h2>
        <p>{{ include.description | markdownify }}</p>
    </div>
</div>