
<div class="thumbs-3">

<div class="img-thumb">
    <div class="img">
        <a href="{{ site.url }}/{{ include.link0 }}">
        <img src="{{ site.url }}/_assets/imgs/{{ include.img0 }}" alt="{{ include.title0 }}">
        </a>
        {% if include.author0 %}
        <span class="img-info">Quelle: {{ include.author0 }}</span>
        {% endif %}
    </div>
    <div class="text">
        <div><a href="{{ site.url }}/{{ include.link0 }}">{{ include.title0 }}</a></div>        
    </div>
</div>
<div class="img-thumb">
    <div class="img">
        <a href="{{ site.url }}/{{ include.link1 }}">
            <img src="{{ site.url }}/_assets/imgs/{{ include.img1 }}" alt="{{ include.title1 }}">
        </a>
        {% if include.author1 %}
        <span class="img-info">Quelle: {{ include.author1 }}</span>
        {% endif %}
    </div>
    <div class="text">
        <div>
            <a href="{{ site.url }}/{{ include.link1 }}">{{ include.title1 }}</a>
        </div>
    </div>
</div>


<div class="img-thumb">
        <div class="img">
            <a href="{{ site.url }}/{{ include.link2 }}">
            <img src="{{ site.url }}/_assets/imgs/{{ include.img2 }}" alt="{{ include.title2 }}">
            </a>
            {% if include.author2 %}
            <span class="img-info">Quelle: {{ include.author2 }}</span>
            {% endif %}
        </div>
        <div class="text">
            <div><a href="{{ site.url }}/{{ include.link2 }}">{{ include.title2 }}</a></div>        
        </div>
    </div>



</div>