---
---

    
.img-n-text {
    margin: 2em 0;
    &:after {
        clear: both;
        content: "";
        display: block;
    }
    .img {
        width: 35%;
        float: left;
        padding: 1em;
        .img-info {
            font-size: 8pt;
            color: gray;
        }
        img {
            margin: 0 auto;
            width: 100%;
            max-width: 250px;
            height: auto;
        }
    }
    .text {
        h2{
            margin-top: 1em;
        }
        width: 60%;
        float: right;
    }
}
.img-n-text.img-right{
    .img{
        float: right;
    }
    .text{
        float: left;
    }
}
 
.img-thumb {
    //margin: .2em 0;
    border: 1px solid darkgray;
    border-radius: 4px;

    .img {
    width: 100%;
    padding: 1em 1em 0 1em;
    .img-info {
        font-size: 8pt;
        color: gray;
    }
    img {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    }
    .text {
        width: 100%;
        text-align: center;
        font-size: 16pt;
        padding: 0 1em 1em 1em;
    }
}

.thumbs-3{

    margin: 1em 0;

    &:after{
        display: block;
        clear: both;
        content: "";
    }
    .img-thumb{
        width: 31.33%;        
        float: left;
        margin: 1%;
    }
}




@media (max-width: 600px){
    .img-n-text {
        .img, .text{
            width: 100%;
            float: none;
        }
    }

    .thumbs-3{
        .img-thumb {
            float: none;
            margin: 1em auto;
            width: 80%;
            max-width: 300px;
        }
    }

}