a{
    outline: none;
}

content > img {
    padding: 2px;
    box-shadow: 0px 0px 2px silver;
}

.page-title{
    margin-bottom: 2em;
}

.sidebar-nav-item {
    font-size: 1.1rem;
}

.date-line {
}

.related-files, .related-exercises, .related-examples {
    margin-bottom: 2em;
    font-size: 1.2em;
}

.tags-container {
    margin-top: .5em;
    margin-bottom: 4em;
}

.tags-container.small {
    margin-bottom: 0;
    margin-top: 0;
}

.tags-container.small > .tag {
    padding: 1px 10px 1px 0;
    font-size: .8em;
}

.tags-container > .tag {
    padding: 3px 10px 5px 0;
    vertical-align: middle;
    border-radius: 40px;
    background-color: rgb(211, 231, 228);
    display: inline-block;
    box-shadow: 2px 2px 2px silver;
    margin-right: .2em;
    text-decoration: none;
}

.tags-container > .tag:hover {
    box-shadow: 2px 2px 2px gray;
    background-color: rgb(200, 230, 210);
}

.tags-container > .tag > .circle {
    display: inline-block;
    margin: 0px 5px 0 10px;
    width: 12px;
    height: 12px;
    background: white;
    border: 2px solid #aaa;
    border-radius: 10px;
}

.tags-container > .tag a {
    color: black !important;
    line-height: 1;
}

.btn-container {
    margin: 2em 0;
}

.btn-back {
    text-align: left;
}

.btn-forward {
    text-align: right;
}

.btn-back a, .btn-forward a {
    display: inline-block;
    background-color: rgb(211, 231, 228);
    box-shadow: 2px 2px 2px silver;
    padding: .2em .5em;
    margin: 0 .5em;
    word-break: normal;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

.btn-back a:hover, .btn-forward a:hover {
    box-shadow: 2px 2px 2px gray;
    background-color: rgb(200, 230, 210);
}

.float-container:after {
    content: ' ';
    height: 0px;
    display: block;
    clear: both;
}

.float-container .splitLeft {
    width: 50%;
    float: left;
}

.float-container .splitRight {
    width: 50%;
    float: right;
}

.float-container .right {
    float: right;
}

.float-container .col50 {
    width: 100%;
    float: none;
}

@media (min-width: 48em) {
    .float-container .col50 {
        width: 50%;
        float: left;
    }
}

.img-50w {
    max-width: 50%;
    margin: 1rem auto;
}

.hidden {
    display: none;
}

.color_item {
    position: relative;
    padding: .3em 1em;
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: white;
}
.color_item > a {
    font-size: 1.2em;
    display: inline-block;
    max-width: 90%;
    line-height: 1.1;
}

.color_item > img {
    position: absolute;
    right: 0;
    width: 10%;
    max-width: 1.8em;
    border: none;
    box-shadow: none;
    display: inline-block;
    margin: 0;
    padding: .2em;
    opacity: .1;
}

.color_item > img:hover {
    opacity: .6;
    cursor: pointer;
}

.color_item > img.checked {
    opacity: 1;
}

.color_item > img.checked:hover {
    opacity: .6;
}

.color_item > hr {
    margin: .5em 0 0 0;
}


.color_item.l1 {
    border-left-color: hsl(54, 100%, 91%);
}

.color_item.l2 {
    border-left-color: #fafa96;
}

.color_item.l3 {
    border-left-color: #faed6c;
}

.color_item.l4 {
    border-left-color: #ffd800;
}

.color_item.l5 {
    border-left-color: #ffa919;
}

.color_item.l6 {
    border-left-color: red;
}

.color_item.l7 {
    border-left-color: #E80C7A;
}

.color_item.l8 {
    border-left-color: #c598ff;
}

.color_item.l9 {
    border-left-color: #717aff;
}

.color_item.l10 {
    border-left-color: #0037d3;
}

@media (max-width: 48em) {
    .color_item {
        padding: .1em .5em;
    }
}