---
layout: default
---

<div class="exercise">
  <h1 class="exercise-title"><a href="{{ '/python/aufgaben.html' | absolute_url }}">Aufgaben</a> - {{ page.title }}</h1>
  {% include created_by.html %}
  {% include gen_tags.html %}

  {{ content }}
</div>

<div class="related">
  {% if page.related_files %}
  <h2>Dateien</h2>
  <ul class="related-files">
    {% for post in page.related_files %}
      <li>
          <a href="{{ post }}">
            {{ post | split: "/" | last }}
          </a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if page.related_exercises %}
  <h2>Ähnliche Aufgaben</h2>
  <ul class="related-exercises">
    {% for rel in page.related_exercises %}
      {% for ex in site.python %}
        {% if ex.uid == rel %}
          <li>
              <a href="{{ ex.url | absolute_url}}">
                {{ ex.title }}
              </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}
</div>

<script>
  var eles = document.getElementsByClassName("show_solution");
  for (var i = 0; i < eles.length; i++) {
    var ele = eles[i];
    ele.onclick = function () {
        var parts = this.href.split("#");
        document.getElementById(parts[1]).style.display = "block";
    }
  }
</script>